:root {
    --primary: #6366f1;
    --secondary: #e0f2fe;
    --accent: #fbbf24;
    --danger: #DE5456;

    --text: #1B2021;
    --text-accent: #EDEDED;
    --background: #EFEFEF;
    --surface: #F4F6F5;
    --border: #A0A8A8;
}