@import "color.css";

* {
    color: var(--text);
    background-color: var(--background);
}

h1 {
    color: var(--primary);
    text-align: center;
    font-size: xxx-large;
}

#gameSelectorButtons button {
    margin-top: 2em;
    width: 10em;
    height: 5em;

    text-align: center;
    border-radius: 1em;

    border: var(--border);
    color: var(--text-accent);
    background-color: var(--accent);
}

#gameSelectorButtons button:hover {
    color: var(--text);
    background-color: var(--secondary);
}


#loginform {

    display: flex;
    flex-direction: column;

    text-align: center;

    align-items: center;

    margin: 0 auto;
}

#nameinput {
}

#gameselection {
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

.hidden {
    display: none !important;
}